<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured" parallel="false" >
    <listeners>
        <listener class-name="report.ListenerClass"></listener>
    </listeners>
    <test thread-count="1" name="User Blog Test" >
        <classes>
            <class name="tests.UserBlogTest"/>
        </classes>
    </test>
</suite>